[init]
	defaultBranch = master
[credential "https://github.com"]
	helper =
	helper = !{{GH_PATH}} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{GH_PATH}} auth git-credential
[user]
	name = YOUR_GITHUB_USERNAME
	email = your.email@example.com
[includeIf "gitdir:{{HOME_DIR}}/Projects/COMPANY_NAME/"]
	path = {{HOME_DIR}}/.gitconfig-COMPANY_NAME
