:root {
  --nav-item-color-active: #d3c6aa;
  --nav-item-weight-active: 600;
}

body:not(.is-grabbing) .nav-file-title.is-active,
body:not(.is-grabbing) .nav-folder-title.is-active,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  color: #d3c6aa !important;
  background-color: rgba(127, 187, 179, 0.15) !important;
  font-weight: 600 !important;
}

.nav-file-title.is-active .nav-file-title-content::before,
.nav-folder-title.is-active .nav-folder-title-content::before {
  content: "\2726 ";
  color: #d3c6aa;
  font-weight: 700;
}

.nav-folder-title .nav-folder-title-content {
  color: #d3c6aa;
  font-weight: 800;
}
.nav-folder-title.is-active .nav-folder-title-content {
  color: #d3c6aa !important;
  font-weight: 800;
}

.nav-file-title.is-active .nav-file-title-content,
.nav-folder-title.is-active .nav-folder-title-content {
  color: #d3c6aa !important;
  caret-color: #d3c6aa;
}

.nav-folder.is-collapsed > .nav-folder-title .nav-folder-title-content::before {
  content: "\f07b ";
  font-family: "JetBrainsMono Nerd Font";
  color: #859289;
  padding-right: 8px;
}
.nav-folder:not(.is-collapsed)
  > .nav-folder-title
  .nav-folder-title-content::before {
  content: "\f07c ";
  font-family: "JetBrainsMono Nerd Font";
  color: #859289;
  padding-right: 8px;
}

.markdown-source-view.mod-cm6,
.markdown-preview-view {
  --checklist-done-decoration: none !important;
  --checklist-done-color: #859289 !important;
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"],
.markdown-source-view.mod-cm6 .task-list-item.is-checked,
.markdown-source-view.mod-cm6 .task-list-item.is-checked .task-list-label,
.markdown-preview-view .task-list-item.is-checked,
.markdown-preview-view .task-list-item.is-checked .task-list-label {
  text-decoration: none !important;
  text-decoration-line: none !important;
  color: #859289 !important;
  opacity: 1 !important;
}
